@use "./variabless" as *;

div#mainmenu {
    display: flex !important;
    justify-content: center !important;
    position: fixed;
    width: 100%;
    top: 10px;
    border-radius: $br-max;
}

.t-menu {
    background-color: transparent !important;
}

a.t-menu__item.t-menu__item-help,
a.t-menu__item.t-menu__item-webinars,
a.t-menu__item.t-menu__item-education,
a.t-menu__item.t-menu__item-referrals,
.t-menu__waves,
.t-menu__logo {
    display: none !important;
}

.t-menu__wrapper {
    width: fit-content !important;
    min-width: fit-content !important;
    background-color: $black !important;
    padding: 8px !important;
    height: fit-content !important;
    box-shadow: 0 5px 10px 0 #00000040;

    & .t-menu__item {
        margin: 0 !important;
        line-height: 1.2 !important;
        height: fit-content !important;
        font-weight: 400 !important;
        padding: 5px 10px;
        transition: $anime;
        border-radius: $br-btn;

        &:hover {
            transition: $anime;
            background-color: #ffffff10 !important;
        }
    }

    & .t-menu__item_active {
        border-bottom: 0 !important;
        background-color: $accent-blue !important;
        color: $white-absolut !important;
        border-radius: $br-btn;
    }
}

.t-menu__leftitems {
    display: flex !important;
    gap: 8px;
    width: fit-content !important;
}

.t-menu__rightitems {
    padding: 0 !important;
    padding-left: 8px !important;
}

.td-project-head {
    padding: 65px 0 15px 0 !important;
    background-color: $light-blue !important;

    & a {
        color: $accent-blue !important;
    }
}

.td-maincontainer {
    background-color: $light-white !important;
}

.td-maincontainer,
.td-footercontainer {
    margin: 20px;
    border-radius: 18px !important;
    overflow: hidden;
}

.t-row div a {
    color: $accent-blue !important;
}

.td-button-ico {
    background-color: $accent-blue !important;
    height: fit-content !important;
    padding: 10px 20px !important;
    border-radius: $br-btn !important;
    font-size: 16px !important;

    & .td-button-ico__title {
        height: fit-content !important;
        padding: 0 !important;
    }

    & .td-button-ico__ico {
        height: fit-content !important;
    }
}

.tstore__link-btn {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.td-button-ico tr {
    display: flex !important;
    align-items: center;
    gap: 6px;
    transition: $anime;
}

.td-button-ico:hover {
    background-color: $accent-blue-hover !important;
}

.td-button-ico:hover td.td-button-ico__ico {
    transform: rotate(360deg);
    transition: $anime;
}

.td-prod {
    background-color: transparent !important;
}

.tstore-modal {
    background-color: #ffffff80 !important;
    backdrop-filter: blur(10px) !important;
}

.tstore-modal__table {
    background-color: $white !important;
    box-shadow: $box-shadow;
    border-radius: $br-block !important;
    overflow: hidden;
}

.tstore-modal__container {
    padding: 20px !important;
}

.td-popup-window {
    border-radius: $br-block !important;
    box-shadow: $box-shadow;
    overflow: hidden;

    .td-popup-window__head {
        height: fit-content !important;
        padding: 20px !important;
        background-color: $light-blue !important;
        border: none !important;
        align-items: center !important;
    }

    & .td-popup-window__title {
        margin: 0 !important;
        padding: 0 !important;
    }

    & .td-popup-window__close {
        margin: 0 !important;
        top: 0 !important;
        height: 28px !important;
        width: 28px !important;
        border-radius: $br-btn !important;
        background: none !important;
        background-color: $blue !important;
    }

}

div#t-popup-settings {
    background-color: #ffffff80 !important;
    backdrop-filter: blur(10px) !important;
}

.td-input {
    font-size: 16px !important;
}

.td-item-group .td-input:focus,
.td-input:hover {
    border-bottom: $accent-blue 1px solid !important;
}

.td-input:hover .td-item-group_active .td-item-group__title {
    transition: $anime;
    color: $accent-blue !important;
}

.tstore_partselector__part,
.tstore__parts-edit__item,
.tstore__options-edit__item,
.tstore__filters-edit__item,
.tstore__discount-edit__item {
    background-color: transparent !important;
}

// btn 
.td-popup-window__btn-wrap_right {
    display: flex !important;
    justify-content: flex-end;
    gap: 6px;

    & .td-popup-btn-white {
        margin: 0 !important;
        padding: 10px 20px !important;
        border-radius: $br-btn !important;
        background-color: $black !important;
        color: $white-absolut !important;
        border: none !important;
    }

    & .td-popup-btn {
        padding: 10px 20px !important;
        border-radius: $br-btn !important;
        background-color: $accent-blue !important;
        border: none !important;
        transition: $anime;

        &:hover {
            background-color: $accent-blue-hover !important;
            transition: $anime;
        }
    }
}

.td-popup-window__bottom-right {
    display: flex !important;
    justify-content: flex-end;
    gap: 6px;

    .td-popup-btn-white-sm {
        margin: 0 !important;
        padding: 10px 20px !important;
        border-radius: $br-btn !important;
        background-color: $black !important;
        color: $white-absolut !important;
        border: none !important;
    }

    .td-popup-btn-sm {
        padding: 10px 20px !important;
        border-radius: $br-btn !important;
        background-color: $accent-blue !important;
        border: none !important;
        transition: $anime;

        &:hover {
            background-color: $accent-blue-hover !important;
            transition: $anime;
        }
    }
}

// tabs
.td-popup-window__menuwrapper {
    padding: 20px !important;
    height: fit-content !important;
}

.td-popup-menu {
    margin: 0 !important;
    height: fit-content !important;
}

.td-popup-menu__wrapper {
    display: flex;
    gap: 6px;

    & .td-popup-menu__item {
        margin: 0 !important;
        border-radius: $br-btn !important;
        background-color: $light-blue !important;
        color: $white-absolut !important;
        border: none !important;
        transition: $anime;

        & a {
            padding: 10px 20px !important;
        }
    }

    & li#td_popup_menu__line {
        display: none !important;
    }
}

.td-popup-menu__item.td-popup-menu__item_active {
    background-color: $blue !important;
    transition: $anime;
}


// links
.tstore__link,
.tstore__parts-edit__add-btn,
.tstore__options-edit__add-btn,
.tstore__filters-edit__add-btn,
.tstore__discounts-edit__add-btn {
    color: $accent-blue !important;
}

.td-store__part-btn.active a {
    color: $accent-blue !important;
}

// checkbox 
.tstore-checkbox__indicator {
    border-radius: 2px;
    border-color: $blue !important;
}

.tstore-checkbox__label .tstore-checkbox__input:checked~.tstore-checkbox__indicator {
    border-color: $accent-blue !important;
}

.tstore-checkbox__indicator:after {
    border: solid $accent-blue !important;
    border-width: 0 1px 1px 0 !important;
}

label.tstore-checkbox__label_with-text.tstore-checkbox__label {
    display: flex;
    gap: 12px;
    align-items: center;
}

.tstore-checkbox__label_with-text .tstore-checkbox__indicator {
    margin: 0 !important;
}