// Импорт стилей магазина (по требованиям Sass — вверху)
@use "./variabless" as *;
@use "./store";
@use "./pages";
@use "./header";

// Подключение шрифта TT Firs Neue Medium
@font-face {
    font-family: "TT Firs Neue";
    src: url("../fonts/TT-Firs-Neue-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// Базовые переменные темы
// переменные вынесены в variabless.scss

// Глобальные сбросы/база
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: $black;
    font-family: $font-primary !important;
}