$white-absolut: #ffffff;
$white: #f8f7f3;
$light-blue: #e6edef;
$light-white: #f2f6f7;
$blue: #d0dcdf;
$black: #333333;
$accent-blue: #1e5fee;
$accent-blue-hover: #4880fd;

$br-max: 18px;
$br-block: 12px;
$br-btn: 8px;
$box-shadow: 4px 4px 10px 0 #00000020;
$anime: all 0.3s ease-in-out;
$font-primary: "TT Firs Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;